/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos gerais do corpo */
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* Estilos específicos para texto em itálico */
.italic {
  font-style: italic;
}

/* Estilos para a seção hero */
#hero {
  background: #212529;
}

#logo {
  position: fixed;
  top: 100px;
}

svg {
  opacity: 0;
}

#description {
  font-size: 3em;
  letter-spacing: 5px;
  opacity: 0;
  font-family: "Urbanist";
}

#main-logo {
  opacity: 0;
}

#ver-mais {
  opacity: 0;
  font-family: "Urbanist";
}

.text-justify {
  text-align: center;
  hyphens: auto;
}

#diga-oi-title {
  font-size: 2em;
  font-weight: 400;
  font-family: "Urbanist";
}

#img-diga-oi {
  max-width: 80%;
}

#hero-main-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  --animate-duration: 1.5s;
  color: white;
}

#descomplicada {
  font-family: "Homemade Apple", cursive;
  font-size: 2rem;
}

/* Animações */
@keyframes change-color {
  0% {
    color: white;
  }
  100% {
    color: #0097b2;
  }
}

@keyframes change-bg {
  0% {
    background: #212529;
  }
  100% {
    background: #fff;
  }
}

@keyframes full-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-logo {
  0% {
    top: 100px;
  }
  100% {
    top: 44%;
  }
}

/* Classes de animação */
.clarify-bg {
  animation: change-bg 2s forwards;
}

.make-it-blue {
  animation: change-color 2s forwards;
}

.make-it-appear {
  animation: full-opacity 2s forwards;
}

.move-logo-down {
  animation: move-logo 2s forwards ease-in-out;
  -webkit-animation: move-logo 2s forwards ease-in-out; /* Adicionando também para compatibilidade com o Safari */
}

/* Seção de conteúdo principal */
#content {
  display: none;
}

#main-hero {
  background-image: url("./public/svg/main-hero-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#principais-recursos {
  background: #0297b2;
}

#principais-recursos-title, #suporte-multiplataforma {
  font-size: 2em;
  font-family: "Urbanist", sans-serif;
}

/* Elementos animados ao rolar */
.animate-on-scroll {
  opacity: 0;
}

#diga-oi-description {
  font-family: "Urbanist", sans-serif;
}

/* Estilos para itens de conteúdo */
.item-content,
.item-number {
  color: white;
  background: #0a1a44;
  font-family: "Urbanist", sans-serif;
}

.item-number {
  color: #0a1a44;
}

.num {
  background: #0297b2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#suporte-multiplataforma {
  background: #394e7d;
}

#suporte-multiplataforma-title {
  font-family: "Urbanist";
}

.mockup-multi-plataforma {
  max-width: 80%;
}

#phone-multi {
  max-width: 50%;
}